<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>SB Admin - Register</title>

<!-- Bootstrap core CSS-->
<link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">

<!-- Custom styles for this template-->
<link href="css/sb-admin.css" rel="stylesheet">


		<!-- Al seleccionar pais habilitar provincia-->
		<script type="text/javascript">
		$('#country').change(function(){
			$('#provinciaList').removeAttr('disabled');
	        $.getJSON('selectProvincia',"login="+$('#country').val(),function(obj) {
	        	$(".provin select").append('<option value="0" disabled selected>Select Province</option>');
	        	$.each(obj, function(arregloId, provincia){
	        		 $(".provin select").append('<option value="'+provincia.provinciaId+'">'+provincia.provincia+'</option>');
	        		     });
	                  }
	        )
	        
	    } );
			</script>
			
			<!-- Al seleccionar provincia habilitar canton-->
		<script type="text/javascript">
		$('#provinciaList').change(function(){
			$('#canton').removeAttr('disabled');
	        $.getJSON('selectCanton',"login="+$('#provinciaList').val(),function(obj) {
	        	$(".can select").append('<option value="0" disabled selected>Select Canton</option>');
	        	$.each(obj, function(arregloId, canton){
	        		 $(".can select").append('<option value="'+canton.cantonId+'">'+canton.canton+'</option>');
	        		     });
	                  }
	        )
	        
	    } );
			</script>
			
		<!-- Al seleccionar canton habilitar parroquia-->
		<script type="text/javascript">
		$('#canton').change(function(){
			$('#parish').removeAttr('disabled');
	        $.getJSON('selectparish',"login="+$('#canton').val(),function(obj) {
	        	$(".par select").append('<option value="0" disabled selected>Select Parish</option>');
	        	$.each(obj, function(arregloId, parroquia){
	        		 $(".par select").append('<option value="'+parroquia.parroquiaId+'">'+parroquia.parroquia+'</option>');
	        		     });
	                  }
	        )
	        
	    } );
		</script>
			
			
		<!-- Guardar direccion-->
		<script type="text/javascript">
			$('#saveAddressButton').submit(function(evento) {
				$.ajax({
					url : 'saveAddress',
					type : 'POST',
					data : JSON.stringify({
						direccionTipoId : $('#tipoDireccion').val(),
						parroquiaId : $('#parish').val(),
						postalCode : $('#postalCode').val(),
						address : $('#address').val()
					}),
					processData : false,
					contentType : "application/json",
				})
				evento.preventDefault();
			});
		</script>
		
		
</head>

<body class="bg-secondary">

	<div class="container">

				<!-- Add address-->

				<form id="saveAddressButton" action="#">
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
					<div class="form-group">

						<label>Address Tipe</label>
						<div class="form-label-group">
							<select class="form-control" id="tipoDireccion" required="required" >
							<option value="0" disabled selected>Select Address Tipe</option>
								<option th:each="addressTipe : ${addressTipes}" th:value="${addressTipe.direccionTipoId}" th:text="${addressTipe.descripcionDireccionTipo}"/>
							</select>
						</div>

						<label>Country</label>
						<div class="form-label-group">
							<select class="form-control" id="country" required="required">
								<option value="0" disabled selected>Select country</option>
								<option th:each="pais : ${paices}" th:value="${pais.paisId}" th:text="${pais.pais}"/>
							</select>
						</div>
						
						<label>Province / State</label>
						<div class="form-label-group provin">
							<select class="form-control" id="provinciaList" disabled required="required">
								
							</select>
						</div>
						
						<label>Canton</label>
						<div class="form-label-group can">
							<select class="form-control" id="canton" disabled required="required">

							</select>
						</div>
						
						<label>Parish</label>
						<div class="form-label-group par">
							<select class="form-control" id="parish" disabled>
		
							</select>
						</div>
						

							<label></label>
							<div class="col-auto">
								<div class="form-label-group">
									<input type="text" id="postalCode" class="form-control"	placeholder="Postal Code" required="required"
										autofocus="autofocus"> <label for="postalCode">Postal Code</label>
								</div>
							</div>

						
							<label></label>
							<div class="col-auto">
								<div class="form-label-group">
									<input type="text" id="address" class="form-control" placeholder="Address" required="required"
										autofocus="autofocus"> <label for="address">Address</label>
								</div>
							</div>

		
					</div>

					<button class="btn btn-primary btn-block" type="submit" id="saveAddressButton">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Add Address
					</button>
					<button class="btn btn-primary btn-block" type="button" data-dismiss="modal" >Cancel</button>
				
				</form>
					

	</div>





	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
