
<body class="bg-dark">

	<!-- Edit administrador-->
	<div class="form-label-group">
		<input type="hidden" th:value="${usuario}" name="usuario">
	</div>
	<label>Audit type</label>
	<div class="form-label-group">
		<select class="form-control" id="country" required="required"
			name="auxTipoAuditoriaId">
			<option value="0" disabled selected>Select audit type</option>
			<option th:each="aut : ${tipAudit}" th:value="${aut.tipoAuditoriaId}"
				th:text="${aut.tipoAuditoria}" />
		</select>
	</div>
	<div class="form-group">
		<div class="form-row">
			<div class="col-md-6">
				<div class="form-label-group">
					<input type="text" id="latitud" class="form-control" value=""
						placeholder="Latitude" required="required" autofocus="autofocus"
						name="latitud"> <label for="latitud">Latitude</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-label-group">
					<input type="text" id="longitud" class="form-control" value=""
						placeholder="Longitude" required="required" name="longitud">
					<label for="longitud">Longitude</label>
				</div>
			</div>
		</div>
	</div>
	<label>Suggest start audit</label>
	<div class="form-group">
		<div class="form-row">
			<div class="col-md-6">
				<label>Date</label> <input id="dateStart" type="date"
					name="auxfechaInicio">
			</div>
			<div class="col-md-6">
				<label>Time</label> <input id="timeStart" type="time"
					name="auxhoraInicio">
			</div>
		</div>
	</div>

	<label>Suggest finish audit</label>
	<div class="form-group">
		<div class="form-row">
			<div class="col-md-6">
				<label>Date</label> <input id="dateFinish" type="date"
					name="auxfechaFinal">
			</div>
			<div class="col-md-6">
				<label>Time</label> <input id="timeFinish" type="time"
					name="auxhoraFin">
			</div>
		</div>
	</div>


</body>


