
<!-- Custom modals create update delete -->
<script th:src="@{/js/modals.js}" src="../static/js/modals.js"></script>


<body id="page-top">



	<!-- Cuenta cliente -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="well well-sm">
					<div class="row">
						<div class="col-sm-6 col-md-4">
							<img src="imgs/profile.png" alt=""
								class="img-responsive img-thumbnail" />
						</div>
						<div class="col-sm-6 col-md-8">
							<h4 th:text="${cliente.userId.nombre}"></h4>

							<small><cite th:text="${cliente.nombreEmpresa}"><i class="glyphicon glyphicon-map-marker"> </i>
							</cite></small>
							<p>
								<i class="glyphicon glyphicon-envelope" th:text="${cliente.userId.mail}"></i><br />
								<i class="glyphicon glyphicon-envelope" th:text="${cliente.userId.telefono}"></i><br />
								<i class="glyphicon glyphicon-envelope" th:text="${cliente.userId.direccion}"></i><br />
								<i class="glyphicon glyphicon-globe"></i><a
									href="http://www.lenervil.com">www.lenervil.com</a> <br />
				
							</p>
							<!-- Split button -->
							<div class="btn-group">
								<button type="button" class="btn btn-primary">Social</button>
								<button type="button" class="btn btn-primary dropdown-toggle"
									data-toggle="dropdown">
									<span class="caret"></span><span class="sr-only">Social</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Twitter</a></li>
									<li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google
											+</a></li>
									<li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
									<li class="divider"></li>
									<li><a href="#">Github</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

