	<!-- Custom modals create update delete -->
	<script th:src="@{/js/modalsCheckReports.js}" src="../static/js/modalsCheckReports.js"></script>
	
<body id="page-top">

		<!-- DataTable Admin -->
		<div class="card mb-3">
			<div class="card-header">
				<a></a>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered ">
						<thead class="thead-light">
							<tr>
								<th>Actions</th>
								<th>Company name</th>
								<th>Questionnaire type</th>
								<th>Auditor Name</th>
								<th>Status</th>
								<th>Report #</th>
								<th>Start date audit</th>
								<th>End date audit</th>
							
							</tr>
						</thead>
						<tfoot class="thead-light">
							<tr>
								<th>Actions</th>
								<th>Company name</th>
								<th>Questionnaire type</th>
								<th>Auditor Name</th>
								<th>Status</th>
								<th>Report #</th>
								<th>Start date audit</th>
								<th>End date audit</th>
							</tr>
						</tfoot>
						<tbody>
							<tr th:each="contact : ${contacts}">
								<td><a th:href="@{checkReports/(id=${contact.informeId},usuario=${usuario})}"
										class="btn btn-outline-success fa fa-check-square tReports" title="Check-Report"></a>
										<a th:href="@{findReport/(Id=${contact.informeId})}"
										class="btn btn-outline-info fas fa-eye lookReport" title="info"></a></td>
								
								<td th:text="${contact.clienteId.nombreEmpresa}"></td>
								<td th:text="${contact.datoComunId.solicitudAuditoriaId.tipoAuditoriaId.tipoAuditoria}"></td>
								<td th:text="${contact.auditorId?.userId?.nombre}"></td>
								<td class="badge badge-pill badge-danger" th:text="${contact.datoComunId.solicitudAuditoriaId.estadoAuditoriaId.estadoAuditoria}"></td>
								<td th:text="${contact.informeId}"></td>
								<td th:text="${contact.datoComunId.solicitudAuditoriaId.fechaInicio}"></td>
								<td th:text="${contact.datoComunId.solicitudAuditoriaId.fechaFinal}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
		</div>

	<!-- add or edit solicitud auditoria Modal-->
	<div class="checkReport">
			<div class="modal fade" id="checkReportModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Assign</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body"></div>
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>

	</div>
	
	<!-- view report-->
	<div class="myFormReport">
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Request an audit</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button> 
						</div>
					</div>
				</div>
			</div>
	</div>
</body>

